body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto 0;
    background-color: #fff;
    border-radius: 8px;
    height: 100vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.user-info {
    text-align: center;
    display: block;
    position: absolute;
    width: 90%;
    top: 2vh;
    left: 0;
    right: 0;
    margin: auto;
}

.user-image {
    width: 8vh;
    height: 8vh;
    left: 15px;
    top: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.25) solid;
    margin-bottom:10vh;
}

.input-container {
    margin-bottom: 15px;
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login,
.register,
.reset-password {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.login-box,
.register-box,
.reset-password-box {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.login-text,
.register-text,
.reset-password-text {
    font-weight: bold;
}

.bottom {
    display: block;
    position: absolute;
    width: 80%;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: auto;
}

